<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid d-flex">
    <div class="logo">
      <img src="./assets/logo.jpg" class="img-responsive" alt="" width="100%" height="40px">
    </div>
     <ul class="navbar-nav cutsom-header">
        <li class="nav-item">
          <a class="" href="#" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="" href="#" routerLink="/collection" routerLinkActive="active">Collection</a>
        </li>
        <li class="nav-item">
          <a class="" href="#" routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class=" " href="#" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
      <div class="d-flex gap-3 login-list">
        <a href="" class="text-decoration-none" routerLink="/login" routerLinkActive="active">Login</a>
        <a href="" class="text-decoration-none" routerLink="/@Test">Profile</a>
      </div>
  </div>
</nav>
