<!-- Reactive form -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <form [formGroup] = "loginForm" (ngSubmit)="submit(loginForm.value)" >
            <div class="form-group my-3">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" formControlName="fname">
              <!-- <span *ngIf="fname && fname.invalid && fname.touched" class="text-danger">This is invalid</span> -->
              <span *ngIf="controlHasError(loginForm,'required','fname')" class="text-danger">This is invalid</span>
            </div>
            <div class="form-group my-3">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" formControlName="lname">
              <span *ngIf="controlHasError(loginForm,'required','lname')" class="text-danger">This is invalid</span>
            </div>
            <div class="form-group my-3">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="pwd" formControlName="password">
              <span *ngIf="controlHasError(loginForm,'required','password')" class="text-danger">This is invalid</span>
              <span *ngIf="controlHasError(loginForm,'minlength','password')" class="text-danger">This is invalid</span>
            </div>
            <div class="form-group my-3">
              <label for="fname">Mobile Number</label>
              <input type="tel" class="form-control" formControlName="mobile" >
              <span *ngIf="controlHasError(loginForm,'required','mobile')" class="text-danger">This is invalid</span>
              <span *ngIf="controlHasError(loginForm,'minlength','mobile')" class="text-danger">This is invalid</span>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary mt-2" [disabled]="loginForm.invalid"> Login </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
